# ðŸ“‰ðŸ“ŠðŸ“ˆStock Price Prediction with Machine Learning ModelsðŸ“‰ðŸ“ŠðŸ“ˆ

Because of its complexity and difficulty, forecasting stock prices fascinates researchers and industry specialists from a variety of fields, including computer science, economics, business arithmetic, and marketing. Despite considerable attempts over the last decade, stock market price forecasting remains difficult due to the intrinsic random wandering nature of market prices. Stock price volatility creates significant challenges for precise forecasting. Nonetheless, establishing efficient and accurate forecasting models is critical for managers, investors, and decision-makers to make sound investment decisions. Analysts use machine learning techniques to evaluate historical data and uncover patterns and trends that might assist forecast future stock performance. Researchers try to create prediction models that can efficiently manage the unpredictable nature of stock markets by combining current and historical data.

<br/>

## ðŸ“ˆ Decision Tree Model ðŸ“‰

### Import libraries

In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 

# MATPLOTLIB FOR GRAPH-PLOTTING
import matplotlib.pyplot as plt
%matplotlib inline

### Load dataset

In [3]:
DATASET_FILE_PATH = './yahoo_data.csv'

In [4]:
# Read the CSV file into a DataFrame
df = pd.read_csv(DATASET_FILE_PATH)

# Display the first few rows of the DataFrame and format the date column
df.head().style.format({'Date': lambda x: pd.to_datetime(x).strftime('%Y-%m-%d')})

### Data Preprocessing

In [7]:
# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Remove commas and convert columns to numeric type
df['Open'] = df['Open'].replace(',', '', regex=True).astype(float)
df['High'] = df['High'].replace(',', '', regex=True).astype(float)
df['Low'] = df['Low'].replace(',', '', regex=True).astype(float)
df['Close'] = df['Close'].replace(',', '', regex=True).astype(float)
df['Adj Close'] = df['Adj Close'].replace(',', '', regex=True).astype(float)
df['Volume'] = df['Volume'].replace(',', '', regex=True).astype(int)

In [36]:
df['Increase_Decrease'] = np.where(df['Volume'].shift(-1) > df['Volume'], 1, 0)
df['Buy_Sell_on_Open'] = np.where(df['Open'].shift(-1) > df['Open'], 1, -1)
df['Buy_Sell'] = np.where(df['Adj Close'].shift(-1) > df['Adj Close'], 1, -1)
df['Return'] = df['Adj Close'].pct_change()

### Display preprocessed dataset

In [10]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Increase_Decrease,Buy_Sell_on_Open,Buy_Sell,Return
1,2023-04-27,33381.66,33859.75,33374.65,33826.16,33826.16,343240000,0,1,-1,-0.007977
2,2023-04-26,33596.34,33645.83,33235.85,33301.87,33301.87,321170000,0,1,1,-0.015500
3,2023-04-25,33828.34,33875.49,33525.39,33530.83,33530.83,297880000,0,-1,1,0.006875
4,2023-04-24,33805.04,33891.15,33726.09,33875.40,33875.40,252020000,1,-1,-1,0.010276
5,2023-04-21,33793.60,33858.83,33688.57,33808.96,33808.96,291080000,1,-1,-1,-0.001961
...,...,...,...,...,...,...,...,...,...,...,...
1253,2018-05-07,24317.66,24479.45,24263.42,24357.32,24357.32,307670000,1,-1,-1,-0.000119
1254,2018-05-04,23865.22,24333.35,23778.87,24262.51,24262.51,329480000,1,-1,-1,-0.003892
1255,2018-05-03,23836.23,23996.15,23531.31,23930.15,23930.15,389240000,0,1,-1,-0.013699
1256,2018-05-02,24097.63,24185.52,23886.30,23924.98,23924.98,385350000,0,1,1,-0.000216
1257,2018-05-01,24117.29,24117.29,23808.19,24099.05,24099.05,380070000,0,-1,-1,0.007276

### Dataset cleaning and Null value testing

In [37]:
df = df.dropna()
df.isnull().sum()

Date                 0
Open                 0
High                 0
Low                  0
Close                0
Adj Close            0
Volume               0
Increase_Decrease    0
Buy_Sell_on_Open     0
Buy_Sell             0
Return               0
dtype: int64